<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad Requests</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Ad Requests</h1>
        <ul>
            {% for ad_request in ad_requests %}
            <li>
                <a href="{{ url_for('ad_request_detail', ad_request_id=ad_request.id) }}">Ad Request #{{ ad_request.id }}</a> - Status: {{ ad_request.status }}
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
